<form>
    <input type="text" />
    <input type="submit" />
</form>

<div style="display:none;">
    <img src="https://wn.pos.baidu.com/adx.php? \
    c=d25pZD05NDdkNTM2YTQ5MTM2MjY3AHM9OTQ3ZDUzNmE0OTEzNjI2NwB0PTE1NjU1OTIwODYAc \
    2U9MQBidT00AHByaWNlPVhWRUtGZ0FIdk1sN2pFcGdXNUlBOGowdkxvVWRLOU0wUW \
    x3enJRAGNoYXJnZV9wcmljZT0xNgBzaGFyaW5nX3ByaWNlPTE2MDAwAHdpbl9kc3 \
    A9NABjaG1kPTEAYmRpZD0wRkE2OTkzQTU1QTQ5RTkyOEQwNEMxRjU3N0I4MjYxQwBjc \
    HJvaWQ9MEZBNjk5M0E1NUE0OUU5MjhEMDRDMUY1NzdCODI2MUMAd2Q9MAB0dT11MzAzMjU \
    yOABhZGNsYXNzPTAAc3JjdD0wAHBvcz0wAGxvYz0xAGVpZD0wAGJjaG1kPTAAdG09MTA3MDY \
    zOAB2PTEAaT0wNDFiYTQyNA" height="1px" width="1px" alt="">
</div>